html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
body > div.wrap > div > div > div.jumbotron{
	margin-bottom:5px;
	padding-bottom:5px;
	padding-top:5px;
}

/*pozadina menija */
.wrap>#w0{
	background-color:#008FC4;
	border:none;
}
/* boja teksta u menije START */ 
#w1>li > a , #w2 > li >a{
	color:white;
}
body > div.wrap > div > div > div.jumbotron > p{
	color:grey;
	font-style:normal;
	padding-bottom:0px;
	margin-bottom:0px;
}

#w1 > li:nth-child(3) > form > button , #w2 > li:nth-child(3) > form > button{
	color:white;
}

#w0 > div > div.navbar-header > a ,#w1 > div > div.navbar-header > a{
	color:white;
}
/* END */
#w1{
	background-color:#008FC4;
	border:none;
}
/*postavljanje inputa ispod labele*/
#w0 > div.form-group.field-dailyscrum-date > label:after{
	display:inline;
}
#w0 > div.form-group.field-dailyscrum-date >label{
	 content: "";
  display: block;
	
}
#charts{
	width:100%;
	padding-left:10%;
	padding-right:10%;
	height:auto;
}
#chart2{
		display:none !important; 
	}
#chart1{
		display:block;
}
body > div.wrap > div > div > div.body-content{
	text-align:center;
}
body > div.wrap > div > div > div.jumbotron{
	padding-bottom:0px;
}
body > div.wrap > div > div > div.jumbotron > h1{
	display:none;
}
#w2 > li:nth-child(4) > form > button,#w1 > li:nth-child(4) > form > button{
	color:white;
}
@media only screen and (max-width: 600px) {
	.jumbotron > img{
		
		max-width: 100%;
		height:auto;
	}
	#chart1{
		display:none !important;
	}
	#chart2{
		display:block !important;
	}
}

